<template>
  <div id="app" class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 py-5">
        <h1>Casino Fever</h1>

        

        <form v-on:submit.prevent="simulate">
          <div class="form-group">
            <div class="field">
              <label class="label">Nombre de simulation par jeu ?</label>
              <b-form-input name="trials" v-model="trials" class="input" type="number"></b-form-input>
            </div>
          </div>
          <div>
            <span>Blackjack </span>
            <div class="field">
                <label class="label">Quelle stratégie pour le blackjack ?</label>
            </div>
            <select v-model="strategie">
              <option  value="soft16">Soft 16</option>
              <option  value="mainSouple">Main Souple</option>
              <option  value="mainRigide">Main Rigide</option>
            </select>

            <div class="field">
                <label class="label">Nombre de joueur pour le blackjack ?</label>
            </div>
            <select v-model="bjplayer">
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
              <option value=7>7</option>
            </select>
          </div>
          <div> 
            <span>Roulette </span>
            <div class="field">
                <label class="label">Quelle stratégie pour la roulette ?</label>
            </div>
            <select v-model="strategieRl">
              <option  value="Martingale">Martingale</option>
              <option  value="Impair">Impair</option>
            </select>

            <div class="field">
                <label class="label">Nombre de joueur pour la roulette ?</label>
            </div>
                <select v-model="rlplayer">
                  <option value=2>1</option>
                  <option value=3>3</option>
                  <option value=4>5</option>
                </select>
          </div>

          <div class="field">
              <label class="label">Quel est le montant dont dispose les joueurs de roulette ?</label>
              <b-form-input name="wallet" v-model="wallet" class="input" type="number"></b-form-input>
          </div>
          <div>        
            <button id="simulatebutton" v-on:click="simulate()" >Simuler</button>
          </div>

        </form>
      </div>
    </div>
    <div><label class="label">Etat de la simulation : {{ state }} </label></div>
    <div><label class="label">Blackjack : pourcentage de réussite avec cette stratégie : {{ resultbj }}</label></div>
    <div><label class="label">Roulette : le facteur multiplicatif de gain en moyenne avec cette stratégie : {{ resultrl }}</label></div>

    <div class="casino">
      <Map />
    </div>
    
</div>
</template>

<script>
import axios from 'axios';
import Vue from 'vue'
import * as VeeValidate from 'vee-validate'
import BootstrapVue from 'bootstrap-vue/dist/bootstrap-vue.esm';
import 'bootstrap-vue/dist/bootstrap-vue.css';
import 'bootstrap/dist/css/bootstrap.css';

import Map from './components/Map.vue'
import LineChart from './Chart.js'

Vue.use(BootstrapVue);
/* eslint-disable */
Vue.use(VeeValidate)

var base_url = "http://127.0.0.1:8000"

export default {
  name: 'app',

  components: {
      LineChart, 
      Map,
    },
  
  mounted () {
    },
  
  data: function() {
    return {
      state: "", seats: "", selected_games: [],
      trials: 0,
      datacollection: null,
      strategie: "",
      bjplayer: 0,
      resultbj: 0,
      strategieRl: "",
      rlplayer: 0,
      staterl: "",
      resultrl: 0,
      wallet: 0,
    }
  },

  methods: {
    update: function() {
        const self = this
        window.setInterval(function(){
          axios({ method: "POST", url: base_url+"/update", headers: {"content-type": "text/plain" } }).then(result => { 
            // this.response = result.data;
            console.log(result.data) 
            console.log("before ", self.resultbj)
            self.resultbj = result.data['res']
            self.resultrl = result.data['resrl']
            console.log("after ", self.resultbj)
          }).catch( error => {
                console.error(error);
          });
        }, 5000);
    },
    simulate: function() {
      var data = {"trials": parseInt(this.trials),"strategie": this.strategie,"bjplayer":  parseInt(this.bjplayer), "strategierl": this.strategierl,"rlplayer":  parseInt(this.rlplayer), "wallet": parseInt(this.wallet)}
      console.log(data) 

      document.getElementById("simulatebutton").style.display = "none";

      axios({ method: "POST", url: base_url+"/simulate", data: data, headers: {"content-type": "text/plain" } }).then(result => { 
          // this.response = result.data;
          console.log(result.data) 
          this.state = result.data['state']
          this.resultbj = result.data['res']
          this.resultrl = result.data['resrl']
        }).catch( error => {
            console.error(error);
      });

      this.update()
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.small {
  max-width: 600px;
  margin:  150px auto;
}

.check-space{
  }

  .casino {
  display: grid;
  border-radius: 6px;
  border: 1px solid #ccd8e4;
  height: 100%;
  background: #F5737A 'transparent';
  max-width: 1500px;
  margin: 0 auto;
}
</style>

