<template>
  <div class="map">
    <div v-if="!isLoading" >
      <FloorSVG ref="svg" />    
    </div>
    <div v-else>Chargement...</div>
  </div>
</template>


<script>
import tables from '@/assets/data/tables.json'
import FloorSVG from '@/assets/images/floor.svg';


export default {
  components: {
    FloorSVG,
  },

  data() {
    return {
      isLoading: false,
      svg: null,
      g: null,
      tableSVG: null,
      tables: [],
      tableId: '',
    }
  },

  mounted() {
    
  },

  created() {
    console.log('Created')
    this.tables = tables
  },

  methods: {
    
    },
}

</script>



<style scoped>
.map {
  height: 100%;
  width: 100%;
  padding: 24px;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.map-root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

h3 {
  margin-top: 0px;
}

::v-deep svg {
  height: 100%;
  width: 100%;
}

::v-deep .table {
  cursor: pointer;
}
</style>
